<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="03e6f1ec-2a13-48e1-aca4-9c39da6250e7" name="MeasurementUnit_200Series">
  <con:settings id="c5526e4f-6e78-4ee4-98d0-eb5e00ba49a3">
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="03e6f1ec-2a13-48e1-aca4-9c39da6250e7fileName">MeasurementUnit_200Series</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="eb231be2-5c44-4389-89ee-3cea80ff9f03">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="a0efce3b-ed50-4171-af5b-af13532b2a89">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
